
/*UI stuff*/

body{
  margin: 0%;
  background-image: url("IMG/cosmium.png");
  background-size: 11%;
  background-repeat: repeat;
}

body img, a {
  position: fixed;
  top: 41%;
  left: 36%;
}

body div img, a {
  position: fixed;
  top: 15%;
  left: 30%;
  width: 520px;
  height: auto;
}

.becground {
  top: 3%;
  left: 11%;
  width: 1500px;
  height: 860px;
}

/*Controls*/

body .lefto, .raito, .perkš, .Nazad {
  width: 200px;
  height: 800px;
  top: 50px;
  background-color: aliceblue;
  position: absolute;
}

.lefto {
  transition: 0.3s;
  opacity: 0.1;
}

.lefto:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.raito {
  transition: 0.3s;
  opacity: 0.1;
}

.raito:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.Nazad {
  transition: 0.3s;
  opacity: 0.1;
}

.Nazad:hover {
  transition: 0.3s;
  opacity: 0.5;
}

/*House*/

.house1{
  left: 21.95%;
  opacity:0;
  transition:0.5s;
}

.house-wrap:hover .house1{
  opacity:1;
}

.greenhouse img {
  width: 300px;
  height: auto;
  top: 30%;
  left: 52%;
  transition: 0.6s;
}

.greenhouse img:hover {
  transition: 0.5s;
  filter: hue-rotate(90deg);
}

.land {
  width: 47%;
  height: auto;
  top: 40%;
  left: 25%;
}

/*Inagreen*/

.stand {
  top: 24%;
  left: 47%;
  scale: 34%;
}

.stand_in_book {
  top: -160.5%;
  left: -18.5%;
  scale: 1.2%;
  transform: perspective(4200px) rotateX(20deg);
}

/*Inahose*/

.bd {
  left: 11%;
  top: 38%;
}

.rEMOUTUS img {
  width: 80px;
  height: auto;
  top: 54%;
  left: 27%;
}

.zhving {
  top: 42px;
  left: 1203px;
  scale: 0.95;
}

.FlatCat {
  top: 311px;
  left: 868px;
  scale: 0.25;
}

.TVv {
  scale: 0.3;
  top: 30%;
  left: 48.5%;
}

.vide {
  scale: 0.37;
  top: 36.5%;
  left: 52.1%;
  opacity: 0;
  transition: 1s;
}

.TVv:hover + .vide {
  transition: 0.3s;
  opacity: 1;
}

.vide:hover {
  transition: 0.3s;
  opacity: 1;
}

.CDssnuts {
  scale: 0.9;
  top: 62%;
  left: 57.5%;
}

.Waining_vanila{
  position: absolute;
  left: 16%;
  top: 28%;
}

.moooo{
  top: -189px;
  left: 296px;
  scale: 0.15;
  transform: perspective(160px) rotateX(-2deg);
}

.bili_u_bauli{
  top: -315px;
  left: 837px;
  scale: 0.2;
  transform: perspective(160px) rotateX(-2deg);
}

.smishariki{
  top: -140px;
  left: 10px;
  scale: 0.1;
  transform: perspective(160px) rotateX(-2deg);
}

.Trafka {
  top: 531px;
  left: 226px;
  scale: 0.9;
  transform: perspective(530px) rotateX(48deg);
}

.stulsformusickas {
  top: 327px;
  left: 810px;
  scale: 0.35;
}

.rozenoRozes {
  top: 280px;
  left: 982px;
  scale: 0.4;
  transform: perspective(160px) rotateX(-4deg);
}

.velkirija {
  top: -62px;
  left: 595px;
  scale: 0.12;
}

.bilzhuksUno {
  top: 123px;
  left: 199px;
  scale: 1;
  transform: perspective(373px) rotateY(53deg) rotateX(-5deg);
  width: 202px;
  height: 250px;
}

.bilzhuksToo {
  top: 52px;
  left: 330px;
  scale: 0.6;
  transform: perspective(160px) rotateX(-4deg);
  width: 206px;
  height: 280px;
}

/*TvButBliska*/

.cH {
  top: 165px;
  left: 142px;
  scale: 1.85;
}

.cH img {
  width: 400px;
  height: 300px;
}

/* What In gods of creation name

#vid1 {
  opacity: 0;
  transition: 0.1;
  z-index: -1; 
}

.knopushka1 {
  top: 650px;
  left: 1370px;
  scale: 0.5;
  transform: rotate(-45deg);
  z-index: 5;
  cursor: pointer;
}

.knopushka1:active + #vid1 {
  opacity: 1;
  transition: 0.1;
  z-index: 6;
}

.knopushka2 {
  top: 612px;
  left: 1415px;
  scale: 0.5;
  transform: rotate(-45deg);
  z-index: 5;
  cursor: pointer;
}
.knopushka3 {
  top: 572px;
  left: 1467px;
  scale: 0.5;
  transform: rotate(-49deg);
  z-index: 5;
  cursor: pointer;
}
.knopushka4 {
  top: 532px;
  left: 1507px;
  scale: 0.5;
  transform: rotate(-45deg);
  z-index: 5;
  cursor: pointer;
}

How the truck i sopoust to make the trucking buttans! */

.remoikokla {
  top: -120px;
  left: 620px;
  scale: 0.5;
}

/*Frums*/

.carp {
  top: 66%;
  left: 33%;
  scale: 40%;
  transform: perspective(530px) rotateX(48deg);
}

.blu_grib {
  top: 17%;
  left: 73%;
  scale: 33%;
}

.cat_frums {
  top: 12%;
  left: 75%;
  scale: 20%;
}

.cat_tato {
  top: 48%;
  left: 34%;
  scale: 12%;
}

.cHil {
  top: 1%;
  left: 1%;
  scale: 7%;
}

.chinchila {
  top: 50%;
  left: 37%;
  scale: 21%;
}

.eye_dog {
  top: 36%;
  left: 61%;
  scale: 10%;
}

.Frums_dance {
  top: 6%;
  left: 73%;
  scale: 122%;
}

.Frums_dance2 {
  top: -12%;
  left: 42%;
  scale: 29%;
}

.Frums1 {
  top: -3%;
  left: 11%;
  scale: 5%;
  transform: rotate(45deg);
}

.Frums2 {
  top: 44.8%;
  left: 57%;
  scale: 46%;
}

.Frums3 {
  top: 42.3%;
  left: 46%;
  scale: 45%;
}

.grib_ded {
  top: 44%;
  left: 9%;
  scale: 21%;
}

.Ham_and_uni {
  top: 2%;
  left: 39%;
  scale: 30%;
}

.kakh_zakh {
  top: 44%;
  left: 17%;
  scale: 17%;
}

.Le_margar_dence {
  top: -13%;
  left: 48%;
  scale: 31%;
}

.monky_nut {
  top: 58%;
  left: 17%;
  scale: 9%;
}

.papub_buber {
  top: 13%;
  left: 77%;
  scale: 44%;
}

.per_ded {
  top: 49%;
  left: 65%;
  scale: 25%;
}

.per_faza {
  top: 53%;
  left: 73%;
  scale: 22%;
}

.per_son {
  top: 46%;
  left: 68%;
  scale: 20%;
}

.per_per {
  top: 38%;
  left: 67%;
  scale: 8%;
}

.per_beb {
  top: 61%;
  left: 69%;
  scale: 18%;
}

.Pipotam {
  top: 13%;
  left: -1%;
  scale: 7%;
}

.stob_elifan {
  top: -7%;
  left: 15%;
  scale: 30%;
}

.Cheremsha {
  top: 24%;
  left: 12%;
  scale: 114%;
}

/*Darbistab*/

.skpV, .Gld, .skpB {
  width: 250px;
  height: auto;
  position: absolute;
  top: 115px;
  left: 500px;
}

.skpB {
  left: 1150px;
  top: 90px;

}

.Gld {
  left: 143px;
  top: 47px;
  width: 446px;
  height: 499px;
}

#Dot {
  top: 800px;
  left: 600px;
  scale: 0.4;
}

.klacklac{
  top: 99px;
  left: 303px;
  scale: 0.3;
}

.Pampam {
  top: -140px;
  left: 450px;
  scale: 0.55;
}

.Penene{
  top: 298px;
  left: 487px;
  scale: 0.2;
}

.Caimera{
  top: -112px;
  left: 447px;
  scale: 0.6;
}

.plepdishes{
  top: -61px;
  left: 479px;
  scale: 0.55;
}

.Boumashka{
  top: 278px;
  left: 457px;
  scale: 0.2;
}

.briluks {
  top: 246px;
  left: 381px;
  scale: 0.25;
}

.inkainka{
  top: 273px;
  left: 480px;
  scale: 0.2;
}

.krleses{
  top: 388px;
  left: 563px;
  scale: 0.8;
  transform: rotate(-34deg);
}

/*Galds*/

.MLa {
  left: 208px;
  top: 27px;
  width: 592px;
  height: auto;
}

/*doors*/

.hetum{
  top: -83px;
  left: 863px;
  scale: 0.45;
}

.somkoko{
  top: 112px;
  left: 954px;
  scale: 0.4;
}

.lietum{
  top: 124px;
  left: 911px;
  scale: 0.35;
}

.gramkam{
  top: -1px;
  left: 289px;
  scale: 0.6;
}

.dverca img {
  top: 10px;
  left: 1437px;
  scale: 0.7;
  transform: perspective(200px) rotateY(-16deg);
  width: 331px;
  height: 938px;
}

.kortena {
  top: -60px;
  left: 1213px;
  scale: 0.3;
  transform: perspective(1000px) rotateY(-43deg);
  width: 492px;
  height: 800px;
}

.kvadrantiks {
  top: 311px;
  left: 694px;
  scale: 0.5;
  transform: perspective(1500px) rotateX(74deg);
  width: 492px;
  height: 800px;
}

.book1 {
  top: 400px;
  left: 95px;
  scale: 0.3;
}

.book2 {
  top: 251px;
  left: 312px;
  scale: 0.15;
  transform: perspective(1500px) rotateY(-13deg);
  width: 492px;
  height: 800px;
}

.book3 {
  top: 254px;
  left: 194px;
  scale: 0.2;
  transform: perspective(1500px) rotateY(8deg);
  width: 492px;
  height: 800px;
}

.book4 {
  top: 274px;
  left: 239px;
  scale: 0.15;
  transform: perspective(1500px) rotateY(26deg);
  width: 492px;
  height: 800px;
}

/*berns*/

/*BeldeDurvis*/

.glezuka{
  top: 110px;
  left: 416px;
  scale: 0.4;
}

.Dorvca{
  top: -5px;
  left: 1000px;
  scale: 0.6;
}

.vins{
  top: 4px;
  left: 295px;
  scale: 0.25;
}

.galdsnormals{
  top: 285px;
  left: 446px;
  scale: 0.6;
}

.pat_dievam_nevajag_buut {
  top: -142px;
  left: 257px;
  scale: 0.55;
}

.mrbeans{
  top: 345px;
  left: 191px;
  scale: 1;
}

.zemkas{
  top: -153px;
  left: 129px;
  scale: 0.1;
}

.glasaskus{
  top: 244px;
  left: 553px;
  scale: 0.3;
}

.scecesese{
  top: 5px;
  left: 345px;
  scale: 0.1;
}

.skolas_fakcijas_karogs {
  top: 30px;
  left: 1219px;
  scale: 0.6;
}

.iaiaia{
  top: 232px;
  left: 1246px;
  scale: 0.7;
}

.tikklok{
  top: -358px;
  left: 634px;
  scale: 0.2;
}

.lupatuklaajs {
  top: 121px;
  left: 526px;
  scale: 0.4;
  transform: perspective(860px) rotateX(70deg);
}

.mjau_bet_liels {
  top: -40px;
  left: 1008px;
  scale: 0.14;
}

.ne_ne_atkrivaet_ili_pishet {
  top: 39px;
  left: 1078px;
  scale: 0.1;
}

.ne_s_letavikam {
  top: -62px;
  left: 927px;
  scale: 0.06;
}

/*Gleznaa*/

.bords{
  top: 176px;
  left: 730px;
  scale: 1;
}

.Dat_gld{
  top: -115px;
  left: 830px;
  scale: 0.35;
}

.Skp{
  top: 170px;
  left: 250px;
  scale: 0.8;
}

.kompiks{
  top: 317px;
  left: 974px;
  scale: 0.3;
}

/*Potolokes*/

.Anagele {
  top: 24%;
  left: 66.6%;
  scale: 114%;
  transform: rotate(33.3deg);
}

.Luztra {
  top: 13%;
  left: 33%;
  scale: 44%;
}

.powuk_dom {
  top: 3%;
  left: 8%;
  scale: 61%;
  transform: perspective(530px) rotateX(-37deg) rotateY(-4deg);
}

.Powuk {
  top: -25%;
  left: -3%;
  scale: 10%;
}

/*CheesesRise*/

.gaiteti {
  top: 8%;
  left: 17%;
  scale: 51%;
}

.Joshuaa {
  top: 9%;
  left: 31%;
  scale: 58%;
}

.True_head_Jesus {
  top: -33.5%;
  left: 27.5%;
  scale: 6.5%;
  opacity: 0;
  transition: 1s;
}

.True_head_Jesus:hover {
  transition: 0.3s;
  opacity: 1;
}

.Diskooo {
  top: -15%;
  left: 28.6%;
  scale: 6%;
}

.Barrr {
  top: -53.5%;
  left: 36.2%;
  scale: 3.5%;
}

.baMBam {
  top: 37.5%;
  left: 11.2%;
  scale: 50%;
}

.fliing_burger {
  top: 6.5%;
  left: 63.2%;
  scale: 40%;
}

.Houly_cow {
  top: 3.5%;
  left: 7.2%;
  scale: 29%;
}

.Long_dogiy {
  top: 12.5%;
  left: 79.2%;
  scale: 42%;
}

.mousterian {
  top: 21.5%;
  left: 65.2%;
  scale: 64%;
}

.Pinpin {
  top: 53.5%;
  left: 63.2%;
  scale: 60%;
}

.piupiu {
  top: 46.5%;
  left: 10.2%;
  scale: 63%;
}

.Rufus_krisus {
  top: 44.5%;
  left: 17.2%;
  scale: 111%;
}

/*HellBar*/

.Bartender {
  top: -5.5%;
  left: 52.2%;
  scale: 66.6%;
}

.fork {
  top: 13%;
  left: 54.2%;
  scale: 66.6%;
}

.Ash_babay {
  top: 66%;
  left: 16%;
  scale: 124%;
}

.Beby_head {
  top: 36%;
  left: 55.2%;
  scale: 32.6%;
  transform: rotate(-23deg);
}

.Culdron {
  top: 7%;
  left: 28.2%;
  scale: 25.6%;
}

.demon_boys {
  top: 9%;
  left: 5.2%;
  scale: 38%;
  transform: perspective(500px) rotateX(-14deg) rotateY(17deg);
}

.Monkys {
  top: 42%;
  left: 19.2%;
  scale: 46%;
}

.pear_pica_AAAAAA {
  top: 43%;
  left: 25.2%;
  scale: 20%;
}

.Scelly2 {
  top: 4%;
  left: 32.2%;
  scale: 32.6%;
}

.Skelly1 {
  top: 29%;
  left: 47.2%;
  scale: 94.6%;
}

.the_not_devil {
  top: 6%;
  left: 13.2%;
  scale: 22%;
}

/*AbscuraDisko*/

.BUMBUM {
  top: -49%;
  left: 19.2%;
  scale: 15%;
}

.champagne {
  top: 40%;
  left: 50%;
  scale: 110%;
}

.dancer1 {
  top: -29%;
  left: 46%;
  scale: 40%;
}

.dancer2 {
  top: -16%;
  left: 13%;
  scale: 43%;
}

.dancer3 {
  top: 34%;
  left: 13%;
  scale: 115%;
}

.dancer4 {
  top: 20%;
  left: 7%;
  scale: 74%;
}

.dancer5 {
  top: 27%;
  left: 32%;
  scale: 40%;
}

.dancer6 {
  top: 28%;
  left: 50%;
  scale: 83%;
}

.dancer7 {
  top: 38%;
  left: 78%;
  scale: 102%;
}

.dancer8 {
  top: -28%;
  left: 14%;
  scale: 39%;
}

.dancer9 {
  top: 5%;
  left: 4%;
  scale: 49%;
}

.dancer10 {
  top: -3%;
  left: 59%;
  scale: 50%;
}

.dancer11 {
  top: 18%;
  left: 17%;
  scale: 80%;
}

.dancer12 {
  top: 36%;
  left: 27%;
  scale: 61%;
}

.dancer13 {
  top: 37%;
  left: 60%;
  scale: 102%;
}

.dancer14 {
  top: 22%;
  left: 53%;
  scale: 79%;
}

.dancer15 {
  top: 0%;
  left: 11%;
  scale: 55%;
}

.dancer16 {
  top: 13%;
  left: 25%;
  scale: 75%;
}

.dancer17 {
  top: 39%;
  left: 12%;
  scale: 124%;
}

.dancer18 {
  top: 16%;
  left: 65%;
  scale: 70%;
}

.dancer19 {
  top: 34%;
  left: 56%;
  scale: 112%;
}

.dancer20 {
  top: 31%;
  left: 15%;
  scale: 76%;
}

.Parika3 {
  top: 13.4%;
  left: 63.9%;
  scale: 39%;
}

.Parika2 {
  top: 23.3%;
  left: 68.6%;
  scale: 50%;
}

.Parika1 {
  top: 22.5%;
  left: 33.7%;
  scale: 73.8%;
}

/*Musarka*/

.Chal {
  top: 30%;
  left: 8.2%;
  scale: 45%;
  transform: perspective(500px) rotateY(35deg);
}

/*Kitcanet*/

.arsonpurpleguy{
  top: 270px;
  left: 714px;
  scale: 0.3;
  width: 500px;
  height: 500px;
}

/*Ehditogotovito*/

/*Agestusaria*/

.dvercaspercam {
  top: 240px;
  left: 634px;
  scale: 0.45;
}

/*Adito*/


