body{
  margin:0;
  height:100vh;
  background-image:url("IMG/cosmium.png");
  background-size:200px;
  background-repeat:repeat;
  position: absolute;
}



body img, a {
  position: fixed;
  top: 41%;
  left: 36%;
}



.land {
  width: 900px;
  height: auto;
  top: 40%;
  left: 25%;
}



body div img, a {
  position: fixed;
  top: 15%;
  left: 30%;
  width: 520px;
  height: auto;
}

.house1{
  left: 21.95%;
  opacity:0;
  transition:0.5s;
}

.house-wrap:hover .house1{
  opacity:1;
  transform:scale(1.01);
}




.greenhouse img {
  width: 300px;
  height: auto;
  top: 30%;
  left: 52%;
  transition: 0.6s;
}

.greenhouse img:hover {
  scale: 1.01;
  transition: 0.5s;
  opacity: 0.9;
  filter: hue-rotate(90deg);
}



.becground {
  top: 3%;
  left: 11%;
  width: 1500px;
  height: 860px;
}

.bd {
  left: 15%;
  top: 38%;
}

.TVv {
  scale: 0.3;
  top: 30%;
  left: 48.5%;
}

.CDssnuts {
  scale: 0.9;
  top: 62%;
  left: 57.5%;
}

.rEMOUTUS {
  width: 80px;
  height: auto;
  top: 54%;
  left: 27%;
}

.vide, .cH {
  scale: 0.38;
  top: 36.25%;
  left: 52%;
  opacity: 0;
  transition: 1s;
}

.TVv:hover + .vide {
  transition: 0.3s;
  opacity: 1;
}

.vide:hover {
  transition: 0.3s;
  opacity: 1;
}

.vide img:hover {
  scale: 1.01;
  transition: 0.5s;
  opacity: 0.9;
  filter: hue-rotate(90deg);
}

.Waining_vanila{
  position: absolute;
  left: 16%;
  top: 28%;
}



body .lefto, .raito, .perkš, .Nazad {
  width: 200px;
  height: 800px;
  top: 50px;
  background-color: aliceblue;
  position: absolute;
}

.lefto {
  transition: 0.3s;
  opacity: 0.1;
}

.raito {
  transition: 0.3s;
  opacity: 0.1;
}

.perkš {
  transition: 0.3s;
  opacity: 0.1;
}
.Nazad {
  transition: 0.3s;
  opacity: 0.1;
}



.lefto:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.raito:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.perkš:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.Nazad:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.skpV, .Gld, .skpB {
  width: 250px;
  height: auto;
  position: absolute;
  top: 115px;
  left: 500px;
}

.skpB {
  left: 1150px;
  top: 90px;

}

.Gld {
  left: 140px;
  top: 205px;
  width: 440px;
  height: 390px;
}

.MLa {
  left: 208px;
  top: 27px;
  width: 592px;
  height: auto;
}




.Skp{
  top: 170px;
  left: 250px;
  scale: 0.8;
}

.kompiks{
  top: 317px;
  left: 974px;
  scale: 0.3;
}

.bords{
  top: 176px;
  left: 730px;
  scale: 1;
}

.Dat_gld{
  top: -115px;
  left: 830px;
  scale: 0.35;
}


.glezuka{
  top: 110px;
  left: 416px;
  scale: 0.4;
}


.Dorvca{
  top: -5px;
  left: 1000px;
  scale: 0.6;
}

.krleses{
  top: 388px;
  left: 563px;
  scale: 0.8;
  transform: rotate(-34deg);
}



.hetum{
  top: -83px;
  left: 863px;
  scale: 0.45;
}

.lietum{
  top: 124px;
  left: 911px;
  scale: 0.35;
}

.gramkam{
  top: -1px;
  left: 289px;
  scale: 0.6;
}



.mrbeans{
  top: 345px;
  left: 191px;
  scale: 1;
}

.vins{
  top: 4px;
  left: 295px;
  scale: 0.25;
}

.glasaskus{
  top: 244px;
  left: 553px;
  scale: 0.3;
}

.scecesese{
  top: 5px;
  left: 345px;
  scale: 0.1;
}

.galdsnormals{
  top: 285px;
  left: 446px;
  scale: 0.6;
}

.iaiaia{
  top: 232px;
  left: 1246px;
  scale: 0.7;
}

.tikklok{
  top: -358px;
  left: 634px;
  scale: 0.2;
}

.zemkas{
  top: -153px;
  left: 129px;
  scale: 0.1;
}