ol * {
    color: green;
}

div {
    background-color: blanchedalmond;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 120px;
    margin-right: auto;
}

h2{
    color: yellow;
    text-shadow: 2px 2px 5px darkgreen;
}

h1{
    text-shadow: 2px 2px 5px blueviolet;
}

.class {
    display: inline-block;
    text-align: right;
}